<style>
h1 {
    background-color: green;
}

center {
    background-color: lightblue;
}

p {
    background-color: yellow;
}
</style>

<h1> web browser load file from local res app </h1>
  <p> ------------------------------------------------------- </p>
  <center>THIS IS LOCAL HTML FILE LOCALTION RES/RAW/TEST.HTML </center>
  <p> ------------------------------------------------------- </p>
